# reload when these files change
watch_file flake.nix
watch_file flake.lock
# load the flake devShell
nix build -f ~/code/nixpkgs/master nixFlakes --out-link /tmp/r
nixFlakes="$(readlink -f /tmp/r)"
eval "$(${nixFlakes}/bin/nix \
  --experimental-features 'nix-command flakes' \
    print-dev-env --profile "$(direnv_layout_dir)/flake-profile")"
