.age-key.txt
.cachix_signing_key
.outputs
.drone.key
**/result*
results/
**/.terradozer
.vscode
.direnv/*
*.qcow
*.qcow2
*.zstd
.nixcache
.nixcache/
.nixcache/*
.ignore
.pijul
.pijul/*
_builds/
.jj/
.pref*
