modules/loremipsum-media/sa/*         filter=git-crypt diff=git-crypt
modules/loremipsum-media/rclone.conf  filter=git-crypt diff=git-crypt
machines/raspberry/wg-server.key      filter=git-crypt diff=git-crypt