* {
    /* all: unset;*/

    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font matches sway-config.nix */
    font-family: "Iosevka Comfy Fixed"; /* TODO: parameterize this? */
    font-weight: bold;
    font-size: 12px;
    min-height: 0;

    padding: 0px;
}

window#waybar {
    background-color: #111111;
    color: #666666;
    /* border-bottom: 2px double #fff; */
    border-bottom: 2px double transparent;
}

/*
window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/

#workspaces button {
    padding: 0px;
    margin: 4px;
    margin-left: 2px;
    margin-right: 2px;
    color: #cccccc;
    min-width: 25px;
    border: 1px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}
*/

#workspaces button.current_output {
    border-color: #aaa;
    border-style: dotted;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #aaa;
    color: #000000;
    border-color: #aaa;
    border-style: solid;
}

#workspaces button.focused.current_output {
    border-color: #ee00ff;
    border-style: solid;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 1px solid #ffffff;
}

#tray {
    background-color: #111111;
}

#clock,
#clock-time,
#battery,
#cpu,
#memory,
#temperature,
#network,
#custom-ppp,
#custom-rog,
#tray,
#mode,
#backlight,
#pulseaudio,
#idle_inhibitor,
#mpd {
    /*padding: 2px;*/
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 4px;
    margin-right: 6px;
    color: #fff;
    background-color: #333;
}

#battery {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #a83e32;
    }
}

#battery.charging {
    color: #26A65B;
}
#battery.discharging {
    color: #a87332;
}
#battery.discharging.warning {
    background-color: #a87332;
}
#battery.discharging.critical {
    background-color: #a83e32;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/*
label:focus {
    background-color: #000000;
}
*/
