* {
    /* all: unset;*/

    border: none;
    border-radius: 0;
    /* `otf-font-awesome` is required to be installed for icons */
    /* font matches sway-config.nix */
    font-family: "Iosevka Comfy Fixed"; /* TODO: parameterize this? */
    font-weight: bold;
    font-size: 9pt;
    min-height: 0;

    padding: 0px;
}

window#waybar {
    background-color: #111111;
    color: #666666;
    min-width: 36px;
}

/*
window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/

#workspaces button {
    padding: 0px;
    color: #cccccc;
    min-height: 25px;
    border-left: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
/*
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}
*/

#workspaces button.current_output {
    border-right: 3px solid #ffffff;
    color: #ffffff;
}

#workspaces button.focused {
    background-color: #aaa;
    color: #000000;
    border-right: 3px solid #ee00ff;
}

#workspaces button.focused.current_output {
    border-left: 3px solid #ee00ff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-right: 3px solid #ffffff;
}

#tray {
    background-color: #111111;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#custom-ppp,
#custom-rog,
#tray,
#mode,
#backlight,
#pulseaudio,
#idle_inhibitor,
#mpd {
    /*padding: 2px;*/
    padding: 0px;
    margin: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: #fff;
    background-color: #222222;
}

#backlight,
#pulseaudio,
#idle_inhibitor {
    background-color: #333;
}

#clock {
    background-color: #000000;
}
#clock-time {
    font-size: 9pt;
}

#battery {
}

#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* #battery.critical:not(.charging) { */
#battery.critical {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}
/*

#cpu {
    background-color: #06989A;
}

#memory {
    background-color: #2980b9;
}

#backlight {
    background-color: #555753;
}

#network {
    background-color: #4E9A06;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #75507B;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 10px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #f53c3c;
}


#idle_inhibitor {
    background-color: #2d3436;
}
#temperature {
    background-color: #555753;
}
#temperature.critical {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

.srht-success {
    background-color: #4E9A06;
}

.srht-failed {
    background-color: #f53c3c;
}

*/