name: "nixcfg-next"
concurrency: "nixcfg-next"
on:
  schedule:
    - cron: '0/20 * * * *'
  workflow_dispatch:
    inputs:
      activate:
        default: false
        required: true
        type: choice
        options:
          - "true"
          - "false"
  push:
    branches:
      - "main"
jobs:
  "update":
    runs-on: "slynux-default"
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        ref: main
    - name: update
      run: |
        nix develop .#ci -c ./ci/next.nu
    - name: build-cache
      run: |
        nix develop .#ci -c ./ci/build.nu